.pageNav {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  width: 70%;
  margin: 48px auto;
}

.pageLink {
  border: 1px solid #fff;
}

.pageLink p {
  padding: 64px 24px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px 0;
  padding: 12px 0;
  background-color: rgb(33, 32, 32);
}
