header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 12px 5% 12px 0;
}

h1 {
  margin: 0;
  font-family: 'Gill Sans', sans-serif;
}

.config {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.backBtn {
  width: 18%;
}
