@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-image: url("/public/img/monster_hunter_world_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
